<!-- Html Elements for Search -->
<!-- <div class="container">
  <div class="row">
    <div class="col-12">
      <div id="search-bar">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input id="search" type="text" placeholder="Search..." />
        <div id="search-result"></div>
      </div>
    </div>
  </div>
</div> -->

<div class="wrap">
  <div class="search">
    <input type="text" class="searchTerm" id="search" placeholder="Search...">
     <button type="submit" class="searchButton" onclick="search_('google')">
       <i class="fa fa-search"></i>
    </button>
  </div>
</div>

<script>
function search_(engine) {
    var q = document.getElementById("search").value;
    var url = "https://www." + engine + ".com/search?q=" + q + " site:hansards.org.za"
    window.open(url, "_self");
//    window.open(url).focus();
}  
</script>