.breadcrumbs {
  font-size: 12px;
  margin-bottom: 18px;
}

.breadcrumbs-arrow {
  font-size: 10px;
  margin-bottom: 8px;
}

.vertical-line {
  display: inline-block;
  border-left: thick solid #ff0000;
  margin-left: 18px;
  bottom: 0;
}

.li-c {
  padding-bottom:20px;
  padding-top:20px;
  border-bottom:1px solid #cccccc;
}

.ul-c {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.frequency-month-link {
  display: block;
  padding: 6px;
}

.zero-frequency-month {
  display: block;
  padding: 6px;
}

.old-manuscript {
  font-family: 'Inconsolata', serif;
  font-size: 18px;
}

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
  text-decoration: none;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
