---
---
@import "app";
@import "w3";

.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 1px solid #cccccc;
  border-right: none;
  padding: 10px;
  height: 20px;
  // border-radius: 15px 0 0 15px;
  outline: none;
  color: #010a06;
}

.searchTerm:focus{
  color: #0f0404;
}

.searchButton {
  width: 60px;
  height: 42px;
  border: 1px solid #999999;
  background: #999999;
  text-align: center;
  color: #FFFFFF;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  margin: 32px auto;
  left: 50%;
  transform: translate(-50%, -50%);
}

#search-bar {
    margin: 32px auto;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0 20px;
  
    & #search {
      width: calc(100% - 30px);
      border: none;
      line-height: 44px;
      outline: none;
      border-style: none;
    }
    & #search-result {
      display: none;
      position: absolute;
      top: 80px;
      width: calc(100% - 70px);
      max-height: 325px;
      overflow-y: auto;
      background-color: white;
      box-shadow: 0px 4px 8px 0 #ccc;
      z-index: 99999;
      & .result-item {
        display: block;
        padding: 8px 16px;
        text-decoration: none;
        & .title,
        .description {
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        & .title {
          color: #f74094;
          padding-bottom: 4px;
          font-size: 16px;
        }
        & .description {
          color: #757575;
          font-size: 16px;
        }
      }
    }
  }
